# Interactive Map Visualization

This notebook will focus on using **Plotly** and **Cufflinks** to create an interactive map visualizing the cost of attendance for each of the available insutitions

In [ ]:
!pip install plotly
!pip install plotly-geo
!pip install geopandas --upgrade

In [1]:
# import libaraies
import pandas as pd
import plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objects as go
init_notebook_mode(connected=True)

In [2]:
# import data
df = pd.read_csv("cleaned_cost_data")

In [3]:
#Check the head of the data
df.head()

,UNITID,INSTNM,STABBR,ZIP,CITY,ICLEVEL,HIGHDEG,COSTT4_A,TUITIONFEE_IN
0,100654,Alabama A & M University,AL,35762,Normal,1,4,23053.0,10024.0
1,100663,University of Alabama at Birmingham,AL,35294-0110,Birmingham,1,4,24495.0,8568.0
2,100690,Amridge University,AL,36117-3553,Montgomery,1,4,14800.0,6950.0
3,100706,University of Alabama in Huntsville,AL,35899,Huntsville,1,4,23917.0,11122.0
4,100724,Alabama State University,AL,36104-0271,Montgomery,1,4,21866.0,11068.0

In [4]:
# only take predomindately bachelors and graduate degree conferring institutions
df.drop(df[df.PREDDEG < 3].index, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'PREDDEG'

In [ ]:
#groupby state
df2 = df.groupby(by='STABBR').median()
df2.head()

In [ ]:
df2

In [ ]:
df2.drop(["GU", "PR"], inplace=True)

In [ ]:
# Create dictionary with data
# This map will display median state income
data = dict(type='choropleth',
            locations = df2.index,
            locationmode='USA-states',
            z=df2['COSTT4_A'],
            colorscale="Reds",
            colorbar_title="USD"
            )

In [ ]:
# configure layout
layout = dict(title="Median Cost of Attendance Per Year",
              geo=dict(scope='usa',
                      showlakes=True,
                      lakecolor="rgb(85,173,240)")
             )

In [ ]:
# Create figure object
choromap = go.Figure(data=[data], layout=layout)

In [ ]:
choromap.show()

In [ ]:
df.sort_values(by="COSTT4_A", ascending=False, inplace=True)

In [ ]:
df.head()

In [ ]:
df.rename(columns={"UNITID": "ID", "INSTNM": "Institution", "STABBR": "State", "ZIP": "Zip", "CITY": "City",
                  "COSTT4_A": "Cost of Attendance", "TUITIONFEE_IN": "In-state Tuition", "TUITIONFEE_OUT":
                  "Out-of-state Tuition"}, inplace=True)

In [ ]:
df1 = df.drop(["ICLEVEL", "PREDDEG"], axis=1)

In [ ]:
df1.to_csv("web_app_data.csv", index=False)